{% extends "base.html" %}
{% block title %}Create note{% endblock %}
{% block content %}
<div class="card col-md-6 col-12 mx-auto p-3">
    <form method="POST">
        <div class="form-group mb-3">
            <label for="tile">Title</label>
            <input type="text" class="form-control" id="title" name="title"
                placeholder="Eg. Groceries list" required>
        </div>
        <div class="form-group mb-3">
            <label for="text">Note</label>
            <textarea class="form-control" id="text" name="text" rows="5"></textarea>
          </div>
          <button class="btn btn-primary">Create note</button>
          <a href="/" class="btn btn-danger">Discard</a>
    </form>
</div>
{% endblock %}